<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bumperbot">

  <!-- Load Simulated or Real Hardware Interfaces -->
  <xacro:arg name="is_sim" default="true"/>

  <xacro:include filename="rover.xacro"/>
  <!-- <xacro:include filename="gazebo_control_differential_drive.xacro" /> -->
  <xacro:include filename="bumperbot_gazebo.xacro" />
  <xacro:include filename="ros2_control.xacro" />

</robot>